body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
  
    background-size: 100%;
    background-image: url('images/market.jpg');
}

h1 {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    margin-bottom: 700px;
    margin-left: 1%;
    color: #4b0747;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.product-container {
    display:contents;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-right: 20%;
}

.product-container div {
    border: 1px solid #ccc;
    padding: 20px;
   font-size: large;
   color: #ffffff;
   font-style: oblique;
    background-color:#3b0d30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-container div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.cart-container {
    border: 1px solid #ccc;
   margin-left: 100px;
    margin-top: 20px;
    width: 300px;
    background: linear-gradient(135deg, #3b0d30, #3b0d30);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    display:inline-flexbox;
}

.cart-container h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
}

#cartItems {
    list-style: none;
    padding: 0;
    background-color:#3b0d30;
    
}

#cartItems li {
    margin: 5px 0;
   
    
}

#totalPrice {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

button {
    background-color: #fff;
    color: #3b0d30;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover {
    background-color:#3b0d30;
    color: #fff;
}

input[type="number"] {
    width: 50px;
}


html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
